In [1]:
# task 2) 
# given a string for example
str1 = "Welcome to python"
print("to" in str1)

True

In [2]:
# create a list of lenght = 10 and access 5th to 8th data.
l1 = [1,2,3,4,5,6,7,8,9,10]
print(l1[5])
print(l1[8])

6
9

In [3]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [4]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

l2 = [1,2,[3,4,5,6],9]
l2[2].append(7)
l2[2].append(8)
print(l2)

[1, 2, [3, 4, 5, 6, 7, 8], 9]

In [5]:
#From the above dictionary, do the following tasks

#access "Mike"
#access 80
#change "Mike" to "Your name"
#add ML = 80 and DL = 80 inside marks

dict2 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
x = dict2
print(x)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [6]:
dict2["april_batch"]["student"]["name"]

'Mike'

In [7]:
dict2["april_batch"]["student"]["marks"]["python"]

80

In [8]:
dict2["april_batch"]["student"]["name"] = "yashavardhan"
print(dict2)

{'april_batch': {'student': {'name': 'yashavardhan', 'marks': {'python': 80, 'maths': 70}}}}

In [9]:
dict2["marks"] = "ml : 80", "dl : 80"
print(dict2)

{'april_batch': {'student': {'name': 'yashavardhan', 'marks': {'python': 80, 'maths': 70}}}, 'marks': ('ml : 80', 'dl : 80')}

In [10]:

#Task6 - Add and remove the elements from a tuple
#we cannot remove items from tuples
#Task7 - go through other inbuilt methods like
#1) difference() 2) symmetric_difference()

#difference() 
setA = {'a', 'b', 'c', 'd'}
setB = {'c', 'f', 'g'}
print(setA)
print(setB)

{'b', 'd', 'a', 'c'}
{'c', 'g', 'f'}

In [12]:
setC = setA.difference(setB)
print(setC)

{'b', 'a', 'd'}

In [13]:

#set symmetric_difference
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{'b', 'e', 'a'}
{'b', 'e', 'a'}

In [14]:
#Task9
#Ask 2 numbers from users and store it in num1 and num2
#Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
#based on number given by user do the math operation

a = int(input("enter firt number: "))
b = int(input("enter second number: "))
sum = a + b
print("sum:", sum)

enter firt number: 12
enter second number: 2
sum: 14

In [15]:
a = int(input("enter firt number: "))
b = int(input("enter second number: "))
mul = a * b
print("sum:", mul)

enter firt number: 23
enter second number: 2
sum: 46

In [16]:
a = int(input("enter firt number: "))
b = int(input("enter second number: "))
sub = a - b
print("sum:", sub)

enter firt number: 23
enter second number: 3
sum: 20

In [17]:
#Ask 2 numbers from users and store it in num1 and num2
a = int(input("enter firt number: "))
b = int(input("enter second number: "))
num = input()
print("num")

enter firt number: 23
enter second number: 3
3
num